In [61]:
import pandas as pd, numpy as np
import tensorflow as tf
import copy, time, string
from sklearn import svm
from sklearn.decomposition import PCA
import xgboost as xgb

from Tools import *

In [62]:
from imp import reload
reload(Tools)
reload(tensorflow)

NameError: name 'Tools' is not defined

In [63]:
dfTrainOri = pd.read_csv(filepath_or_buffer = 'data/train.csv')
dfTestOri = pd.read_csv(filepath_or_buffer = 'data/test.csv')
dfTestYOri = pd.read_csv(filepath_or_buffer = 'data/gender_submission.csv')

In [64]:
dfWhole = pd.concat([dfTrainOri, dfTestOri])
dfWhole

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216
...,...,...,...,...,...,...,...,...,...,...,...,...
388,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858
389,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909
390,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749
391,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592
392,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673
393,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769
394,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153
395,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695
396,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109
397,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567
398,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065
399,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332
400,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928
401,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664
402,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378
403,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059
404,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765
405,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166
406,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666
407,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503
408,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915
409,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315
410,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237
411,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928
412,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086
413,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236
414,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758
415,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262
416,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309
417,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668

In [44]:
# /********************** 加入同票组内平均幸存率指标 ******************/
dfWhole.index = np.arange(dfWhole.shape[0])
grpsByTicketWhole = dfWhole.groupby('Ticket').groups
for ticket in grpsByTicketWhole:
    if grpsByTicketWhole[ticket].shape == (1,):
        surviveRateAverage = np.nan
    else:
        surviveRateAverage = np.mean(dfWhole.loc[grpsByTicketWhole[ticket], 'Survived'])
    dfWhole.loc[grpsByTicketWhole[ticket], 'IngroupSurviveRateOfTicket'] = surviveRateAverage
dfWhole.loc[pd.isnull(dfWhole['IngroupSurviveRateOfTicket']), 'IngroupSurviveRateOfTicket'] = np.mean(dfWhole['IngroupSurviveRateOfTicket'])

In [173]:
dfWhole

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket,IngroupSurviveRateOfTicket
0,22.0,NaN,S,7.2500,"Braund, Mr. Owen Harris",0,1,3,male,1,0.0,A/5 21171,0.522623
1,38.0,C85,C,71.2833,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,2,1,female,1,1.0,PC 17599,1.000000
2,26.0,NaN,S,7.9250,"Heikkinen, Miss. Laina",0,3,3,female,0,1.0,STON/O2. 3101282,0.522623
3,35.0,C123,S,53.1000,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,4,1,female,1,1.0,113803,0.500000
4,35.0,NaN,S,8.0500,"Allen, Mr. William Henry",0,5,3,male,0,0.0,373450,0.522623
5,NaN,NaN,Q,8.4583,"Moran, Mr. James",0,6,3,male,0,0.0,330877,0.522623
6,54.0,E46,S,51.8625,"McCarthy, Mr. Timothy J",0,7,1,male,0,0.0,17463,0.000000
7,2.0,NaN,S,21.0750,"Palsson, Master. Gosta Leonard",1,8,3,male,3,0.0,349909,0.000000
8,27.0,NaN,S,11.1333,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",2,9,3,female,0,1.0,347742,1.000000
9,14.0,NaN,C,30.0708,"Nasser, Mrs. Nicholas (Adele Achem)",0,10,2,female,1,1.0,237736,0.500000
10,4.0,G6,S,16.7000,"Sandstrom, Miss. Marguerite Rut",1,11,3,female,1,1.0,PP 9549,1.000000
11,58.0,C103,S,26.5500,"Bonnell, Miss. Elizabeth",0,12,1,female,0,1.0,113783,0.522623
12,20.0,NaN,S,8.0500,"Saundercock, Mr. William Henry",0,13,3,male,0,0.0,A/5. 2151,0.522623
13,39.0,NaN,S,31.2750,"Andersson, Mr. Anders Johan",5,14,3,male,1,0.0,347082,0.000000
14,14.0,NaN,S,7.8542,"Vestrom, Miss. Hulda Amanda Adolfina",0,15,3,female,0,0.0,350406,0.522623
15,55.0,NaN,S,16.0000,"Hewlett, Mrs. (Mary D Kingcome)",0,16,2,female,0,1.0,248706,0.522623
16,2.0,NaN,Q,29.1250,"Rice, Master. Eugene",1,17,3,male,4,0.0,382652,0.000000
17,NaN,NaN,S,13.0000,"Williams, Mr. Charles Eugene",0,18,2,male,0,1.0,244373,0.522623
18,31.0,NaN,S,18.0000,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,19,3,female,1,0.0,345763,0.000000
19,NaN,NaN,C,7.2250,"Masselmani, Mrs. Fatima",0,20,3,female,0,1.0,2649,0.522623
20,35.0,NaN,S,26.0000,"Fynney, Mr. Joseph J",0,21,2,male,0,0.0,239865,0.000000
21,34.0,D56,S,13.0000,"Beesley, Mr. Lawrence",0,22,2,male,0,1.0,248698,0.522623
22,15.0,NaN,Q,8.0292,"McGowan, Miss. Anna ""Annie""",0,23,3,female,0,1.0,330923,0.522623
23,28.0,A6,S,35.5000,"Sloper, Mr. William Thompson",0,24,1,male,0,1.0,113788,0.522623
24,8.0,NaN,S,21.0750,"Palsson, Miss. Torborg Danira",1,25,3,female,3,0.0,349909,0.000000
25,38.0,NaN,S,31.3875,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",5,26,3,female,1,1.0,347077,0.750000
26,NaN,NaN,C,7.2250,"Emir, Mr. Farred Chehab",0,27,3,male,0,0.0,2631,0.522623
27,19.0,C23 C25 C27,S,263.0000,"Fortune, Mr. Charles Alexander",2,28,1,male,3,0.0,19950,0.500000
28,NaN,NaN,Q,7.8792,"O'Dwyer, Miss. Ellen ""Nellie""",0,29,3,female,0,1.0,330959,0.522623
29,NaN,NaN,S,7.8958,"Todoroff, Mr. Lalio",0,30,3,male,0,0.0,349216,0.522623
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858,0.522623
1280,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909,0.000000
1281,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749,1.000000
1282,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592,1.000000
1283,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673,0.500000
1284,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769,0.522623
1285,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153,1.000000
1286,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695,0.522623
1287,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109,0.522623
1288,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567,1.000000
1289,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065,0.522623
1290,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332,0.522623
1291,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928,1.000000
1292,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664,0.000000
1293,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378,0.522623
1294,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059,0.000000
1295,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765,0.522623
1296,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166,0.522623
1297,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666,0.522623
1298,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503,0.000000
1299,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915,0.522623
1300,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315,0.522623
1301,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237,0.522623
1302,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928,0.500000
1303,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086,0.522623
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236,0.522623
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758,0.500000
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262,0.522623
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309,0.522623
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668,1.000000

In [70]:
dfWhole.to_csv(path_or_buf='data\\dfWhole2.csv')

In [71]:
dfWhole.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived,IngroupSurviveRateOfTicket
count,1046.000000,1308.000000,1309.000000,1309.000000,1309.000000,1309.000000,891.000000,1309.000000
mean,29.881138,33.295479,0.385027,655.000000,2.294882,0.498854,0.383838,0.522623
std,14.413493,51.758668,0.865560,378.020061,0.837836,1.041658,0.486592,0.283549
min,0.170000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,328.000000,2.000000,0.000000,0.000000,0.522623
50%,28.000000,14.454200,0.000000,655.000000,3.000000,0.000000,0.000000,0.522623
75%,39.000000,31.275000,0.000000,982.000000,3.000000,1.000000,1.000000,0.522623
max,80.000000,512.329200,9.000000,1309.000000,3.000000,8.000000,1.000000,1.000000

In [65]:
dfWhole.index = dfWhole['PassengerId']
dfWholeY = dfWhole['Survived']
dfWholeX = copy.copy(dfWhole)
dfWholeX['SEmbarked'] = dfWholeX['Embarked'] == 'S'
dfWholeX['CEmbarked'] = dfWholeX['Embarked'] == 'C'
dfWholeX['QEmbarked'] = dfWholeX['Embarked'] == 'Q'
dfWholeX['Class1'] = dfWholeX['Pclass'] == 1
dfWholeX['Class2'] = dfWholeX['Pclass'] == 2
dfWholeX['Class3'] = dfWholeX['Pclass'] == 3
dfWholeX['nameLength'] = dfWholeX['Name'].apply(len)
dfWholeX.loc[dfWholeX['Sex'] == 'male', 'Sex'] = 1
dfWholeX.loc[dfWholeX['Sex'] == 'female', 'Sex'] = 0

dfWholeX = dfWholeX.drop(['PassengerId','Survived','Name','Ticket','Cabin','Embarked','Pclass'], axis = 1)
dfWholeX.loc[np.isnan(dfWholeX['Age']), 'Age'] = np.mean(dfWholeX['Age'])

MeanFareClass1 = np.mean(dfWholeX.loc[dfWholeX['Class1'], 'Fare'])
MeanFareClass2 = np.mean(dfWholeX.loc[dfWholeX['Class2'], 'Fare'])
MeanFareClass3 = np.mean(dfWholeX.loc[dfWholeX['Class3'], 'Fare'])
MeanFare = [MeanFareClass1, MeanFareClass2, MeanFareClass3]
FareIsNullIds = dfWholeX.index[pd.isnull(dfWholeX['Fare'])]
for fareIsNullId in FareIsNullIds:
    dfWholeX.loc[fareIsNullId, 'Fare'] = np.sum(dfWholeX.loc[fareIsNullId, ['Class1', 'Class2', 'Class3']] * MeanFare)
    print('PassengerId %d has renewed its "Fare" into %f'%(fareIsNullId, dfWholeX.loc[fareIsNullId, 'Fare']))

PassengerId 1044 has renewed its "Fare" into 13.302889

In [66]:
NontestIndex = ~pd.isnull(dfWhole['Survived'])
NontestCount = np.sum(NontestIndex)
dfNontestX = dfWholeX.loc[NontestIndex, :]
dfNontestY = dfWholeY.loc[NontestIndex]
dfTestX = dfWholeX.loc[~NontestIndex, :]
dfTestY = dfWholeY.loc[~NontestIndex]
trainCount = int(NontestCount*0.8)
devCount = NontestCount - trainCount
print("训练集大小：%d\t开发集大小：%d\t测试集大小：%d"%(trainCount, devCount, dfWhole.shape[0] - NontestCount))

permut = np.random.permutation(NontestCount)
dfTrainX = dfWholeX.iloc[permut[:trainCount], :]
dfTrainY = dfWholeY.iloc[permut[:trainCount]]
dfDevX = dfWholeX.iloc[permut[trainCount:NontestCount], :]
dfDevY = dfWholeY.iloc[permut[trainCount:NontestCount]]

训练集大小：712	开发集大小：179	测试集大小：418

In [67]:
arTrainX = np.array(dfTrainX).T
arTrainY = np.array(dfTrainY).T.reshape([1, -1])
arDevX = np.array(dfDevX).T
arDevY = np.array(dfDevY).T.reshape([1, -1])
arTestX = np.array(dfTestX).T
arTestY = np.array(dfTestY).T.reshape([1, -1])

In [68]:
dpTrainX = dataPool(data = arTrainX, axis = 1)
dpTrainY = dataPool(data = arTrainY.reshape([1,-1]), axis = 1)
dpTestX = dataPool(data = arTestX, axis = 1)
dpTestY = dataPool(data = arTestY.reshape([1,-1]), axis = 1)

In [69]:
Xrange = [np.min(arTrainX, axis = 1).reshape([-1, 1]), np.max(arTrainX, axis = 1).reshape([-1, 1])]
arTrainX =  (arTrainX - Xrange[0])/ (Xrange[1] - Xrange[0]) * 2 - 1
arDevX = (arDevX - Xrange[0]) / (Xrange[1] - Xrange[0]) * 2 - 1
arTestX = (arTestX - Xrange[0]) / (Xrange[1] - Xrange[0] * 2) - 1

pca = PCA(n_components = 5)
#pca.fit(X = arTrainX.T, y = arTrainY.T)
pca.fit(X = arTrainX.T)
print("explained_variance_ratio_:", pca.explained_variance_ratio_)
arTrainX = pca.transform(arTrainX.T).T
arDevX = pca.transform(arDevX.T).T
arTestX = pca.transform(arTestX.T).T
print("sum of above:", sum(pca.explained_variance_ratio_))

explained_variance_ratio_: [ 0.3091218   0.24800822  0.16669216  0.14150353  0.07260682]
sum of above: 0.93793252555

In [51]:
arTestX.shape

(5, 418)

In [123]:
layersize = [20, 20, 20, 1]
layercount = len(layersize)

seed = time.time()
X = tf.placeholder(shape = [arTrainX.shape[0], None], dtype = 'float')
Y_ = tf.placeholder(shape = [layersize[-1], None], dtype = 'float')
W = dict()
b = dict()
Y = dict()
Y[0] = X
layersizeTemp = [arTrainX.shape[0]] + layersize
for i in range(layercount):
    W[i+1] = tf.Variable(tf.random_normal(seed = np.random.randint(seed), shape = [layersizeTemp[i+1], layersizeTemp[i]]) * 0.1)
    b[i+1] = tf.Variable(tf.zeros(shape = [layersizeTemp[i+1], 1]))
    if i != layercount - 1:
        Y[i+1] = tf.nn.sigmoid(tf.matmul(W[i+1], Y[i]) + b[i+1])
Y[layercount] = tf.nn.sigmoid(tf.matmul(W[layercount], Y[layercount-1]) + b[layercount])
Youtput = Y[layercount]

correct_prediction = tf.equal(tf.round(Youtput), Y_)
correct_rate = tf.reduce_mean(tf.cast(correct_prediction, 'float'))

cost = tf.reduce_mean(tf.square(Youtput - Y_))
#for i in range(len(layersize)):
#    cost += 0.000005 * tf.reduce_sum(tf.square(W[i+1]))

#cost = - tf.reduce_mean(Y_*tf.log(Youtput) + (1 - Y_)*tf.log(1 - Youtput))

In [125]:
#train_step = tf.train.AdagradOptimizer(1).minimize(crossEntropy)
optimizer = tf.train.AdamOptimizer(0.1).minimize(cost)
sess = tf.Session(config=tf.ConfigProto(log_device_placement=True))
init = tf.global_variables_initializer()
sess.run(init) 

for i in range(10001):
    #sess.run(train_step, feed_dict = {X:dpTrainX.getData(size=50), Y_:dpTrainY.getData(size=50)})
    sess.run(optimizer, feed_dict = {X:arTrainX, Y_:arTrainY})
    if i % 1000 == 0:
        predTrain = sess.run(Youtput, feed_dict={X:arTrainX, Y_: arTrainY})
        predDev = sess.run(Youtput, feed_dict={X:arDevX, Y_: arDevY})
        print(calculateAuc(arTrainY.reshape([-1]), predTrain.reshape([-1])), calculateAuc(arDevY.reshape([-1]), predDev.reshape([-1])), 
             np.mean(np.round(predTrain).reshape([-1]) == arTrainY.reshape([-1])), np.mean(np.round(predDev).reshape([-1]) == arDevY.reshape([-1])))

0.839167706261 0.826392437404 0.626404494382 0.575418994413
0.882055194039 0.828564128769 0.827247191011 0.759776536313
0.878514953303 0.835015329586 0.844101123596 0.776536312849
0.879467446644 0.832971384773 0.835674157303 0.782122905028
0.841949323983 0.827925396014 0.830056179775 0.810055865922
0.864227553188 0.827414409811 0.832865168539 0.787709497207
0.862558582555 0.829011241696 0.828651685393 0.776536312849
0.854989210695 0.826775677057 0.825842696629 0.798882681564
0.863586938198 0.819877363311 0.834269662921 0.793296089385
0.85774132641 0.807677567706 0.839887640449 0.787709497207
0.856788833069 0.80077925396 0.837078651685 0.787709497207

,0,1,2,3,4,5,6,7,8,9,...,169,170,171,172,173,174,175,176,177,178
0,-1.397491,-0.171227,-0.188624,-0.444993,-1.390343,-1.371750,-0.871277,-0.184508,-0.212615,0.903412,...,2.213728,2.771124,0.996334,-1.359318,-1.374960,2.778894,-1.384606,-1.376634,1.564431,-0.843599
1,-0.037814,2.013682,2.011399,1.765580,-0.040437,-0.046395,0.069578,2.014546,2.023776,-1.660636,...,1.442275,1.541371,-0.620979,-0.053268,-0.047389,1.541971,-0.040627,-0.061015,-0.486987,0.072603
2,-0.499318,-0.569835,-0.485610,1.724392,-0.500755,-0.508093,1.399254,-0.496731,-0.511538,1.458233,...,-1.440319,0.440587,-1.408312,-0.477474,-0.481238,0.404106,-0.522909,-0.324501,0.351707,1.294757
3,-0.140502,1.147576,1.116608,0.224645,-0.145901,-0.158660,-0.961346,1.130682,1.160044,0.503543,...,0.275821,-0.473369,-0.993780,-0.180652,-0.166161,-0.471628,-0.142306,-0.237758,-1.715628,-0.859816
4,-0.204709,-0.917404,-0.996006,1.495944,-0.199246,-0.183234,-0.463122,-0.982431,-0.984564,0.012299,...,-0.248960,-0.466704,0.515559,-0.198893,-0.205078,-0.427996,-0.179589,-0.328711,0.357755,-0.356796

In [82]:
sess.run(Youtput, feed_dict = {X:arDevX})

array([[ 0.10695942,  0.21935259,  0.28344828,  0.73855382,  0.10804545,
         0.10976163,  0.38522285,  0.27154544,  0.24669003,  0.90460759,
         0.92620623,  0.10429811,  0.6133092 ,  0.27124748,  0.14628649,
         0.90191376,  0.42193177,  0.38383296,  0.94918001,  0.73966497,
         0.20681867,  0.73829573,  0.39364648,  0.0707997 ,  0.94978476,
         0.11022006,  0.10595542,  0.10715074,  0.90521067,  0.23875485,
         0.90162903,  0.11993281,  0.92973679,  0.15990259,  0.92449552,
         0.21973674,  0.92786843,  0.09687792,  0.12651783,  0.40571076,
         0.10830044,  0.59868342,  0.30801758,  0.36914819,  0.11486257,
         0.92604274,  0.40215278,  0.95054185,  0.59349477,  0.12811252,
         0.12658541,  0.11659276,  0.36738726,  0.10981844,  0.11484522,
         0.4172726 ,  0.26939234,  0.09817507,  0.27072445,  0.73176378,
         0.13265279,  0.92750996,  0.13741106,  0.89916933,  0.10614357,
         0.90165901,  0.27450529,  0.9490301 ,  0.35933018,  0.16702756,
         0.06890299,  0.90156978,  0.90935421,  0.94915766,  0.34191772,
         0.21106309,  0.12413013,  0.13431016,  0.12647128,  0.92547363,
         0.09982645,  0.90401077,  0.06761779,  0.40708157,  0.13307336,
         0.21065985,  0.12047961,  0.40606382,  0.90270597,  0.21520299,
         0.4182018 ,  0.28814951,  0.37672496,  0.4092952 ,  0.95122391,
         0.41422525,  0.17351304,  0.33784986,  0.47962442,  0.21978036,
         0.24251224,  0.18915763,  0.90354496,  0.13496615,  0.39352074,
         0.90173548,  0.33858854,  0.38305691,  0.73432118,  0.32039264,
         0.61155254,  0.64137411,  0.11971136,  0.3475166 ,  0.38570088,
         0.90169591,  0.16157204,  0.40028134,  0.42408413,  0.10970224,
         0.35216033,  0.12579069,  0.39538342,  0.28040797,  0.41293582,
         0.13249236,  0.38443825,  0.95091891,  0.62918037,  0.13784209,
         0.41731524,  0.12834172,  0.43048942,  0.60936451,  0.37029943,
         0.63997424,  0.73360741,  0.14711452,  0.10430969,  0.92481005,
         0.24082749,  0.63799125,  0.07151593,  0.39647567,  0.9506498 ,
         0.14631824,  0.12924425,  0.36157915,  0.15103708,  0.14876498,
         0.12675047,  0.2281912 ,  0.07134763,  0.89928329,  0.42960644,
         0.12292525,  0.13723177,  0.1616184 ,  0.9252941 ,  0.93169636,
         0.18858427,  0.14087532,  0.24488643,  0.43311805,  0.12935105,
         0.10612891,  0.06921829,  0.92665315,  0.14523639,  0.35000825,
         0.95049524,  0.29967779,  0.1238658 ,  0.11855258,  0.95092511,
         0.102044  ,  0.18987934,  0.92990273,  0.4243407 ]], dtype=float32)

In [126]:
preds = sess.run(Youtput, feed_dict = {X:arTestX})

In [127]:
np.round(preds)

array([[ 0.,  1.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,
         1.,  0.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,
         1.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  1.,  1.,  0.,
         0.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,
         1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,  0.,
         1.,  1.,  0.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  0.,
         1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  1.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,
         1.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  0.,
         0.,  0.,  1.,  1.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,
         0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,
         1.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  1.,  1.,  0.,
         0.,  1.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,
         1.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  0.,
         0.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,
         0.,  0.,  1.,  1.,  1.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,
         1.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  1.,
         0.,  1.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  0.,  0.,  0.,
         0.,  0.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  1.,
         1.,  1.,  1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,
         0.,  0.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  1.,  0.,  0.,  1.,
         1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  1.,  0.,  0.,
         0.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,  0.,  0.,  1.,  0.,  0.,
         0.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  1.,  0.,  0.,
         0.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,  0.,  1.,  0.,  0.,
         0.,  1.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  1.,  0.,
         1.,  0.,  1.,  0.,  1.,  1.,  0.,  1.,  1.,  1.,  1.,  1.,  1.,
         1.,  1.,  1.,  0.,  0.,  0.,  0.,  0.,  1.,  0.,  1.,  1.,  0.,
         1.,  0.,  0.,  1.,  1.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  0.,
         1.,  0.,  1.,  0.,  0.,  1.,  1.,  1.,  1.,  0.,  1.,  0.,  1.,
         0.,  0.,  1.,  1.,  1.,  0.,  0.,  1.,  0.,  0.,  0.,  1.,  1.,
         0.,  0.,  1.,  1.,  0.,  1.,  0.,  1.,  1.,  1.,  0.,  1.,  0.,
         0.,  0.]], dtype=float32)

In [112]:
sess.run(W[3], feed_dict = {X:arTestX})

array([[ -1.01077566e+01,   9.46740270e-01,  -1.78045311e+01,
         -2.73308620e+01,  -9.71669292e+00,   1.26132345e+01,
          1.70570850e+00,   7.00395441e+00,  -1.49283705e+01,
          3.09586620e+00,   7.57942915e+00,   4.30115080e+00,
         -6.26424456e+00,  -4.46547794e+00,  -3.12892771e+00,
          8.71313095e+00,  -1.67410069e+01,   2.75644094e-01,
          2.45336628e+01,  -4.14597178e+00],
       [ -3.63541508e+00,  -1.37225461e+00,  -9.98548794e+00,
         -1.30063117e+00,  -2.99828506e+00,  -5.35383940e-01,
         -4.48761559e+00,  -5.13070524e-01,  -9.49632931e+00,
         -1.61004257e+00,   4.53697968e+00,  -1.16448939e+00,
         -2.13444328e+00,  -7.06683934e-01,  -1.26306504e-01,
         -3.19203091e+00,   1.73965931e+00,  -2.56276464e+00,
         -3.02578187e+00,  -1.90225947e+00],
       [ -7.87189305e-02,  -1.21818466e+01,  -1.24029732e+01,
         -3.44097644e-01,  -2.35528803e+00,   7.78820944e+00,
          3.34202719e+00,  -1.21917162e+01,   7.75680065e+00,
          6.33847809e+00,   8.90712166e+00,   7.86469841e+00,
         -5.77589607e+00,   5.46422577e+00,  -1.79705715e+01,
          2.65335178e+01,  -1.26956511e+01,  -1.22784462e+01,
          1.91839161e+01,  -1.45382385e+01],
       [ -7.58196354e-01,  -4.67092246e-01,  -1.23441372e+01,
         -7.25483775e-01,  -9.76479709e-01,   4.92665052e-01,
         -7.47669077e+00,  -1.44099343e+00,  -3.17299747e+01,
         -9.69744861e-01,   2.01624889e+01,  -5.57276487e-01,
         -1.38651502e+00,  -5.68224549e-01,  -7.93842971e-02,
         -2.94124937e+00,  -1.55904305e+00,  -6.85393572e-01,
         -1.32653368e+00,  -2.64301229e+00],
       [  3.89011049e+00,  -6.57396793e+00,  -1.37800779e+01,
         -3.04799223e+00,  -2.54526234e+00,  -5.23155451e+00,
          1.63045616e+01,  -1.54755182e+01,  -2.81089497e+01,
         -1.18659534e+01,  -9.16201973e+00,   7.92234778e-01,
         -7.14958477e+00,  -1.62337065e+00,  -7.85629749e+00,
          7.84943247e+00,   7.09493971e+00,  -4.28655624e+00,
         -1.69716473e+01,  -1.85706825e+01],
       [  3.44742179e+00,  -1.25970488e+01,  -9.03889179e+00,
          1.05445251e+01,  -1.23391161e+01,  -7.95451307e+00,
         -1.30141878e+01,   2.21728382e+01,   6.90742910e-01,
         -1.11331348e+01,   5.72874355e+00,  -1.62964840e+01,
         -1.48738670e+01,  -6.34530306e+00,  -3.41169977e+00,
         -1.25448771e+01,  -8.23373985e+00,  -1.30763540e+01,
          5.30789566e+00,   4.69275188e+00],
       [ -1.60018122e+00,  -5.73140097e+00,  -7.37791061e+00,
         -5.45419812e-01,   1.62603855e+01,  -1.28482027e+01,
          1.23510323e+01,  -2.75071182e+01,  -1.21425333e+01,
         -1.06216974e+01,  -1.73750114e+01,  -6.70775795e+00,
         -5.22648430e+00,  -2.49898791e+00,  -6.40633297e+00,
         -9.42164612e+00,   1.26962528e+01,  -5.93636799e+00,
         -1.17060289e+01,  -1.99593868e+01],
       [ -4.90027571e+00,   3.10197997e+00,   8.13606644e+00,
         -8.69912910e+00,   1.63118589e+00,   8.60675621e+00,
          7.13459134e-01,  -6.97552204e+00,  -2.16899776e+01,
          7.77930307e+00,  -5.49548960e+00,   1.38544595e+00,
         -9.08613873e+00,  -1.02038078e+01,  -1.48385954e+01,
         -5.60718489e+00,  -1.22829828e+01,   3.12531948e+00,
          1.84204245e+00,  -9.11787987e+00],
       [ -5.84448767e+00,  -7.43641675e-01,  -8.68277931e+00,
         -1.80035591e-01,  -4.02687359e+00,  -1.14198709e+00,
         -8.26820564e+00,  -9.87565219e-01,  -2.81891766e+01,
         -2.23917532e+00,   1.74401245e+01,  -1.95751274e+00,
         -1.64745319e+00,  -3.40841389e+00,  -6.42291248e-01,
         -4.89472914e+00,  -2.53269243e+00,  -6.74913347e-01,
         -2.37023568e+00,  -2.36636448e+00],
       [ -5.65177202e+00,  -1.45783072e+01,  -1.20585852e+01,
          3.67155361e+00,  -4.11494255e+00,  -2.29613376e+00,
          1.32263231e+00,   7.43526459e+00,   5.15434742e+00,
         -8.03277779e+00,   6.81661940e+00,  -8.25792789e+00,
         -8.24928665e+00,  -1.00808887e+01,  -1.44283848e+01,
         -4.78185797e+00,   2.19818401e+01,  -7.92693043e+00,
          1.31089220e+01,  -2.98699707e-01],
       [ -4.37693310e+00,  -1.37352190e+01,   2.71123081e-01,
         -4.59933186e+00,  -9.25069618e+00,  -1.08993006e+01,
          1.62895489e-02,  -8.00224781e+00,  -7.60198164e+00,
         -1.82304688e+01,  -9.05827713e+00,   1.08917065e+01,
         -9.42895794e+00,  -2.73692703e+00,  -3.36126357e-01,
         -2.09696960e+01,  -4.24220562e-01,   7.45792627e+00,
          2.49814186e+01,  -1.55231457e+01],
       [ -2.25677242e+01,  -1.95242620e+00,   5.24726152e+00,
         -8.88641357e+00,   5.72535276e-01,  -4.10065317e+00,
          6.59890413e+00,   3.28623891e+00,  -2.13538527e-01,
         -1.82821560e+01,  -1.23195708e+00,  -5.07998610e+00,
         -1.32163992e+01,  -7.49573565e+00,  -1.18713951e+01,
          5.62413275e-01,   1.49551220e+01,  -3.08182383e+00,
         -2.33993530e+01,  -1.37712848e+00],
       [ -4.35002756e+00,  -1.33196211e+01,   8.34360886e+00,
         -1.00246274e+00,   1.06963501e+01,  -5.46106625e+00,
          4.09721553e-01,  -9.48921144e-01,   9.92337418e+00,
         -8.73906517e+00,   5.80172920e+00,  -1.46303720e+01,
          6.36628675e+00,  -8.46282578e+00,  -9.68909550e+00,
          4.96482515e+00,   1.31552029e+01,  -1.49689445e+01,
         -2.49401150e+01,  -7.94115305e-01],
       [ -9.56234837e+00,  -3.97211838e+00,   3.72408247e+00,
         -1.02379494e+01,  -1.24362850e+01,  -7.98381710e+00,
         -3.62163007e-01,  -1.22687397e+01,  -1.31142530e+01,
         -7.54890347e+00,  -5.02264977e+00,  -2.85231233e+00,
         -1.31241112e+01,  -2.08993554e+00,  -4.97633886e+00,
         -1.31843300e+01,   4.81591511e+00,   2.29138076e-01,
         -3.59247932e+01,  -1.49156475e+01],
       [ -1.72985494e+00,   2.23100567e+00,  -4.51723862e+00,
          1.81018841e+00,  -5.65735435e+00,   4.31276523e-02,
         -1.36773300e+00,   7.83955145e+00,  -1.01587133e+01,
         -2.83501983e+00,   1.59403694e+00,  -2.45442533e+00,
         -3.44676280e+00,  -6.83842838e-01,   5.98707438e-01,
         -3.77127385e+00,  -4.96760100e-01,   1.31620610e+00,
         -7.28716326e+00,   3.37309480e+00],
       [ -4.30213451e+00,  -6.67454767e+00,   3.01785469e+00,
          2.31878400e+00,  -2.69570999e+01,  -9.75681496e+00,
          2.40240002e+00,   9.89817238e+00,   5.25300837e+00,
         -1.30010328e+01,  -4.44919538e+00,  -3.86285949e+00,
         -9.63179874e+00,  -1.66801357e+00,  -2.53422890e+01,
         -8.73725510e+00,   8.02050972e+00,  -2.05591316e+01,
         -4.21762733e+01,  -2.31939459e+00],
       [ -5.79119301e+00,  -5.82733536e+00,  -2.35160465e+01,
         -2.21986046e+01,   3.10753345e-01,   5.82648420e+00,
         -4.70712948e+00,   8.24255276e+00,   3.03071082e-01,
         -5.57606220e+00,   7.47362185e+00,  -3.65477490e+00,
         -1.33944826e+01,  -4.24764490e+00,  -3.80481863e+00,
          7.45247841e+00,   8.07453442e+00,  -7.16797161e+00,
          2.03520107e+01,  -1.07356131e+00],
       [ -2.11974055e-01,  -7.90322363e-01,  -3.23803520e+01,
         -6.46780300e+00,  -3.23851929e+01,  -9.90399456e+00,
          1.31659393e+01,  -9.26027870e+00,  -1.24333162e+01,
         -2.59683758e-01,  -1.42875080e+01,  -1.38885460e+01,
          1.97098994e+00,  -1.09803581e+00,  -1.11280127e+01,
         -5.96458149e+00,  -8.34295940e+00,  -8.57712150e-01,
         -1.44127861e-01,  -5.95025015e+00],
       [  6.20717716e+00,  -7.78154135e+00,   9.83877897e-01,
         -3.59080577e+00,  -1.17579184e+01,  -1.49965858e+01,
          8.41199017e+00,   4.89825153e+00,   3.80232263e+00,
         -1.51307678e+01,   5.76924229e+00,  -2.01005960e+00,
         -2.16570520e+00,  -9.32422543e+00,  -4.73807335e+00,
         -7.65380144e+00,  -3.77212882e+00,  -5.86014414e+00,
         -5.83317757e+00,   1.04019105e-01],
       [ -2.15199337e+01,  -1.06141024e+01,   1.13167286e+00,
         -5.74614763e+00,  -1.41676340e+01,  -2.08868790e+00,
          3.38349628e+00,  -5.10418797e+00,  -3.40339203e+01,
          7.67013967e-01,  -2.20220680e+01,  -1.04562082e+01,
         -1.40736732e+01,  -3.02166390e+00,  -6.90945911e+00,
         -1.53478365e+01,   6.62716627e+00,  -2.21232462e+00,
         -3.51377831e+01,   3.40722591e-01]], dtype=float32)

In [44]:
np.mean(preds.reshape([1, -1]) == arTestY)

0.0

### SVC        0.9618  0.6364

In [89]:
clf = svm.SVC(kernel = 'rbf', gamma = 100, C = 50)
clf.fit(arTrainX.T, arTrainY.reshape([-1]))
predTrain = clf.predict(arTrainX.T)
precisionTrain = sum(predTrain == arTrainY.reshape([-1])) / predTrain.shape[0]
print(precisionTrain)
predDev = clf.predict(arDevX.T)
precisionDev = sum(predDev == arDevY.reshape([-1])) / predDev.shape[0]
print(precisionDev)
pred = clf.predict(arTestX.T)

0.898876404494
0.748603351955

,0,1,2,3,4,5,6,7,8,9,...,408,409,410,411,412,413,414,415,416,417
0,-0.012344,0.077109,0.883703,-0.216885,0.075755,-0.212879,0.245101,0.660727,0.655866,-0.214064,...,0.261656,0.030853,0.248044,1.478422,0.060327,-0.211470,1.846269,-0.189031,-0.209957,0.386168
1,1.123315,0.324545,0.247384,0.277281,0.318796,0.272408,1.185718,-0.596467,1.357953,0.273099,...,1.177179,0.337880,1.184190,0.881434,0.330646,0.275061,1.082604,0.265324,0.274282,1.302082
2,0.529935,1.244049,0.623685,0.333015,1.317591,0.377093,1.424651,0.481677,1.277239,0.371175,...,1.458194,1.279846,1.430848,1.054192,1.252342,0.336079,0.763904,0.357404,0.339118,0.351117
3,0.579510,-0.353906,1.237852,0.030030,-0.382675,0.009963,0.237012,0.676048,0.297611,0.003552,...,0.210462,-0.330870,0.232203,-0.257697,-0.338304,0.024352,-0.102558,-0.002469,0.021936,0.655391
4,1.004941,-0.013720,1.193970,0.062017,-0.072791,0.031390,0.919339,0.195300,-0.441888,0.035028,...,0.903813,-0.070574,0.916392,1.227046,-0.030515,0.062913,-0.055636,0.059978,0.061516,-0.343708

### XGboost

In [50]:
dtrain = xgb.DMatrix(arTrainX.T, label=arTrainY.reshape([-1]))

In [51]:
xgb.train(params = {'bst:max_depth':2, 'bst:eta':1, 'silent':1, 'objective':'binary:logistic' }, dtrain = dtrain)

In [52]:
bst = xgb.Booster()

In [53]:
bst.predict(data = arTrainX.T)

AttributeError: 'numpy.ndarray' object has no attribute 'feature_names'

In [301]:
predTrain = bst.predict(data = arTrainX.T)
precisionTrain = np.sum(predTrain == arTrainY.reshape([-1])) / predTrain.shape[0]
print(precisionTrain)

AttributeError: 'numpy.ndarray' object has no attribute 'feature_names'

In [ ]:
predTest = bst.predict(arTestX.T, ntree_limit=bst.best_iteration)
precisionTest = sum(predTest == arTestY.reshape([-1])) / predTest.shape[0]
print(precisionTest)

In [287]:
help(bst.predict)

Help on method predict in module xgboost.core:

predict(data, output_margin=False, ntree_limit=0, pred_leaf=False) method of xgboost.core.Booster instance
    Predict with data.

    NOTE: This function is not thread safe.
          For each booster object, predict can only be called from one thread.
          If you want to run prediction using multiple thread, call bst.copy() to make copies
          of model object and then call predict

    Parameters
    ----------
    data : DMatrix
        The dmatrix storing the input.

    output_margin : bool
        Whether to output the raw untransformed margin value.

    ntree_limit : int
        Limit number of trees in the prediction; defaults to 0 (use all trees).

    pred_leaf : bool
        When this option is on, the output will be a matrix of (nsample, ntrees)
        with each record indicating the predicted leaf index of each sample in each tree.
        Note that the leaf index of a tree is unique per tree, so you may find leaf 1
        in both tree 1 and tree 0.

    Returns
    -------
    prediction : numpy array

In [28]:
preds.shape

(1, 179)

In [26]:
result.shape

(418, 1)

In [128]:
result = pd.DataFrame({'PassengerId':dfTestYOri['PassengerId']} )
result['Survived'] = list(map(lambda x:int(round(x)), preds.reshape([-1])))

In [129]:
result

     PassengerId  Survived
0            892         0
1            893         1
2            894         0
3            895         0
4            896         0
5            897         1
6            898         1
7            899         1
8            900         1
9            901         0
10           902         0
11           903         0
12           904         0
13           905         1
14           906         0
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         1
22           914         0
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         1
390         1282         0
391         1283         0
392         1284         1
393         1285         1
394         1286         1
395         1287         0
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         0
401         1293         1
402         1294         1
403         1295         0
404         1296         0
405         1297         1
406         1298         1
407         1299         0
408         1300         1
409         1301         0
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [130]:
np.sum(result['Survived']==1)

191

In [131]:
result
result.to_csv(path_or_buf='data\\result20171007.csv', header=True, index=None)

In [122]:
result

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         1
6            898         1
7            899         1
8            900         0
9            901         1
10           902         0
11           903         1
12           904         1
13           905         1
14           906         1
15           907         1
16           908         0
17           909         1
18           910         0
19           911         0
20           912         0
21           913         1
22           914         1
23           915         0
24           916         1
25           917         1
26           918         1
27           919         1
28           920         1
29           921         0
..           ...       ...
388         1280         0
389         1281         1
390         1282         1
391         1283         1
392         1284         1
393         1285         1
394         1286         1
395         1287         1
396         1288         0
397         1289         1
398         1290         1
399         1291         0
400         1292         1
401         1293         1
402         1294         1
403         1295         1
404         1296         0
405         1297         1
406         1298         1
407         1299         0
408         1300         1
409         1301         0
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         1
416         1308         0
417         1309         0

[418 rows x 2 columns]